@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

:root {
  --y: 50%;
  --blur: 0.5vmax;
  --focus-range: 1vh;
  --blur-range: 25vh;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  background-color: black;
  overscroll-behavior-x: none;
  overscroll-behavior-y: none;
  overflow: hidden;
  /*
  cursor: none;
  */
  user-select: none;
}

body {
  width: 100vw;
  height: 100vh;
  font-family: "Montserrat", serif;
  text-align: center;
  line-height: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  z-index: 1;
}

h1 {
  font-size: 5vw;
  color: #fff;
}

#bg,
#bg_mask {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: calc(var(--blur) * -1);

  background: url(https://images.unsplash.com/photo-1622664843830-e79e37074452?crop=entropy&cs=srgb&fm=jpg&ixid=M3wzMjM4NDZ8MHwxfHJhbmRvbXx8fHx8fHx8fDE2OTg5NTQzMTR8&ixlib=rb-4.0.3&q=85) no-repeat center bottom/cover;
}

#bg {
  filter: blur(var(--blur));
}

#bg_mask {
  mask-image: linear-gradient(transparent,
      transparent calc(var(--y) - var(--focus-range) - var(--blur-range)),
      black calc(var(--y) - var(--focus-range)),
      black var(--y),
      black calc(var(--y) + var(--focus-range)),
      transparent calc(var(--y) + var(--focus-range) + var(--blur-range)),
      transparent);
}