div {
  transform-style: preserve-3d;
}

h1:nth-child(2) {
  transform: translateZ(5px);
}

h1:nth-child(3) {
  transform: translateZ(10px);
}

h1:nth-child(4) {
  transform: translateZ(15px);
}

h1:nth-child(5) {
  transform: translateZ(20px);
}

h1:nth-child(6) {
  transform: translateZ(25px);
}

h1:nth-child(7) {
  transform: translateZ(30px);
}

h1:nth-child(8) {
  transform: translateZ(35px);
}

h1:nth-child(9) {
  transform: translateZ(40px);
}

h1:nth-child(10) {
  transform: translateZ(45px);
}